<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Nyilatkozat - Online-Mozi.com</title>
    <meta charset="UTF-8">
    <meta name="description" content="Online filmek és sorozatok ingyen, regisztráció nélkül gyorsan és egyszerűen!">
    <meta name="keywords" content="online film, online filmek, online sorozat, online sorozatok, ingyen filmek">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="../public/img/favicon.ico" rel="shortcut icon"/>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../public/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../public/css/owl.carousel.css"/>
    <link rel="stylesheet" href="../public/css/style.css"/>
    <link rel="stylesheet" href="../public/css/animate.css"/>


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>
<header class="header-section">
    <div class="container">
        <!-- logo -->
        <!-- class="site-logo" -->
        <a class="" href="/oldal/0">
            <img src="/img/mozi4.png" alt="" style="height: 30%; width: 30%">
        </a>
        <div class="user-panel">
            <a href="#">Login</a> / <a href="#">Register</a>
        </div>
        <!-- responsive -->
        <div class="nav-switch">
            <i class="fa fa-bars"></i>
        </div>
        <!-- site menu -->
        <nav class="main-menu">
            <ul>
                <li><a href="/oldal/0">Főoldal</a></li>
                <li><a href="/online-filmek/0">Filmek</a></li>
                <li><a href="/online-sorozatok/0">Sorozatok</a></li>
                <li><a href="/">Kapcsolat</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="container">
<div>
    <p>
        Az online-mozi.com weboldal (továbbiakban: Szolgáltató) működésére az elektronikus kereskedelmi szolgáltatások, valamint az információs társadalommal összefüggő szolgáltatások egyes kérdéseiről szóló 2001. évi CVIII. törvény (továbbiakban: Ektv.) szabályozásai vonatkoznak.

        Az Ektv. 2. § (1) alapján „Információs társadalommal összefüggő szolgáltatás nyújtásának megkezdéséhez, illetve folytatásához előzetes engedély vagy bármely ezzel azonos joghatású hatósági határozat nem szükséges”.

        Szolgáltató az Ektv. 2. § ld) bekezdésében rögzítettek alapján, mint közvetítő szolgáltató az „információk megtalálását elősegítő segédeszközöket biztosít az igénybe vevő számára (keresőszolgáltatás)”. Az Ektv. 2. § e) bekezdése értelmében: „Információ: bármely, elektronikus úton feldolgozható, tárolható, továbbítható adat, jel, kép tekintet nélkül arra, hogy annak tartalma jogi védelemben részesül-e”.

        A Szolgáltató által fenntartott weboldal egy tematikusan kategorizált, más weboldalak tartalmi elemeit megjelenítő, közvetítő szolgáltatás. Szolgáltató szerverei nem tárolnak audió, illetve videó fájlokat, kizárólag videómegosztó weboldalakról beágyazott, tartalom érhető el. Az Ektv. 7. § (2) értelmében „a közvetítő szolgáltató a más által rendelkezésre bocsátott, a közvetítő szolgáltató által… továbbított, tárolt vagy hozzáférhetővé tett információért… nem felel”. A megosztott információkért teljes felelősséggel az eredeti, tényleges tartalomszolgáltató tartozik.

        Az Ektv. 7. § (3) értelmében „a közvetítő szolgáltató nem köteles ellenőrizni az általa csak továbbított, tárolt, hozzáférhetővé tett információt, továbbá nem köteles olyan tényeket vagy körülményeket keresni, amelyek jogellenes tevékenység folytatására utalnak”. Jogsértő illetve jogellenes magatartás esetén a közvetítő szolgáltató az Ektv. 10. §-ában rögzítettek szerint köteles eljárni.

        Elérhetőség:  Kapcsolat szekció

        A filmek adatlapjain található leírások, információk, nagyrészt a port.hu oldalról származnak! Egyéb esetben jelezzük és megjelöljük a forrás helyét!


        1. Regisztráció

        Az rhjonline.com oldalait bárki szabadon böngészheti ("Felhasználó, Regisztrált felhasználó"), kivéve a Kizárt látogatók pont alatt részletezett felhasználók. A regisztrált tagság feltétele, hogy a regisztrációt az rhjonline.com elfogadja. Az rhjonline.com fenntartja magának a jogot, hogy regisztrációkat indoklás nélkül visszautasítson, vagy bármikor visszavonjon, különösképp valótlan vagy hiányos adatok megadása, vagy az rhjonline.com és más a Tagok bizalmával történő, vagy bármilyen más visszaélés esetén.

        2. Műszaki követelmények

        A felhasználó tudomásul veszi és elfogadja, hogy a szolgáltatás használata egyéb hardver és szoftver eszközöket igényel(het), valamint hogy az említett hardverre és szoftverre vonatkozóan a felhasználó saját felelősségére jár el. Azt követően, hogy a felhasználó regisztrált, az rhj-online.com nem vonható felelősségre a szolgáltatás károsodásáért, megsemmisüléséért, ill. sérüléséért. Továbbá nem vonható felelősségre a szolgáltatás elérhetetlenségért sem, mivel ezek a tartalmak, nem az Üzemeltető szerverein találhatók, így azok folytonos elérését nem tudjuk biztosítani.

        3. Felhasználók által közzétett tartalmak

        Az Üzemeltető fenntartja a jogot a felhasználók által beküldött tartalmak (hozzászólások, feltöltések, témák, visszajelzések, üzenetek) bármilyen célú felhasználására.

        4. Kitiltás

        A weboldalon bizonyos funkciók csak regisztrációt követően vehetők igénybe. A igénybe vett funkciók nem megfelelő használata az oldalról való IP Cím alapú kitiltást von maga után (SPAM, trágár, másokra nézve sértő beszédmód alkalmazása, egyéb etikett szabályait sértő magaviselet).

        5. Adatvédelem

        A regisztráció során szükséges igazi, létező, élő e-mail cím megadása! A regisztrációkor eltároljuk a felhasználók IP Címét, E-mail címét, melyeket a személyességi jogok értelmében semmilyen körülmények között nem adjuk harmadik fél számára, viszont fenntartjuk a jogot ezen adatok statisztika és marketing jellegű felhasználására.

        6. Filmekkel kapcsolatos jogi nyilatkozat

        Szervereinken nem tárolunk semmilyen jogsértő tartalmat, minden tartalom nem általunk üzemeltetett weboldalak szerverein található, melyek helyét csak megjelöljük és kategorizáljuk, illetve nem ismerjük azok részletes tartalmát, így nem tudunk semmilyen felelősséget vállalni értük. A oldalon keresztül elérhető, más szolgáltatóknál tárolt filmek a szervereken tároló szolgáltatókat terhelik!

        Bármilyen egyéb felmerülő probléma esetén az oldalon  található "Kapcsolat" menüpont alatt található elérhetőségen veheti fel velünk a kapcsolatot.

    </p>
</div>
</div>

<!-- Footer section -->
<footer class="footer-section">
    <div class="container">
        <ul class="footer-menu">
            <li><a href="/oldal/0">Főoldal</a></li>
            <li><a href="/online-filmek/0">Filmek</a></li>
            <li><a href="/online-sorozatok/0">Sorozatok</a></li>
            <li><a href="/">Kapcsolat</a></li>
        </ul>
        <p class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
            online-mozi.com
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
    </div>
</footer>
<!-- Footer section end -->


<!--====== Javascripts & Jquery ======-->
<script src="../public/js/jquery-3.2.1.min.js"></script>
<script src="../public/js/bootstrap.min.js"></script>
<script src="../public/js/owl.carousel.min.js"></script>
<script src="../public/js/jquery.marquee.min.js"></script>
<script src="../public/js/main.js"></script>
</body>
</html>