<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Online filmek és sorozatok ingyen - Online-Mozi.com</title>
    <meta charset="UTF-8">
    <meta name="description" content="Online filmek és sorozatok ingyen, regisztráció nélkül gyorsan és egyszerűen!">
    <meta name="keywords" content="online film, online filmek, online sorozat, online sorozatok, ingyen filmek">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="/img/pici2.png" rel="shortcut icon"/>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/owl.carousel.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/animate.css"/>


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header section -->
<header class="header-section">
    <div class="container">
        <!-- logo -->
        <a class="" href="/oldal/0">
            <img src="/img/mozi4.png" alt="" style="height: 30%; width: 30%">
        </a>
        <div class="user-panel">
            <a href="#">Login</a> / <a href="#">Register</a>
        </div>
        <!-- responsive -->
        <div class="nav-switch">
            <i class="fa fa-bars"></i>
        </div>
        <!-- site menu -->
        <nav class="main-menu">
            <ul>
                <li><a href="/oldal/0">Főoldal</a></li>
                <li><a href="/online-filmek/0">Filmek</a></li>
                <li><a href="/online-sorozatok/0">Sorozatok</a></li>
                <li><a href="/">Kapcsolat</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- Header section end -->


<!-- Hero section -->
<section class="hero-section">
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="/img/bor_1.jpg">
            <div class="hs-text">
                <div class="container">
                    <h2 style="color: black">A Legjobb <span>Sorozatokat És Filmeket</span> Itt Találod!</h2>
                    <p> Nézz be minden nap, megtalálod a legjobb sorozatokat! ;) </p>
                </div>
            </div>
        </div>
        <div class="hs-item set-bg" data-setbg="/img/bor_2.jpg">
            <div class="hs-text">
                <div class="container">
                    <h2 style="color: black">A Legjobb <span>Sorozatokat És Filmeket</span> Itt Találod!</h2>
                    <p> Nézz be minden nap, megtalálod a legjobb sorozatokat! ;) </p>
                </div>
            </div>
        </div>
        <div class="hs-item set-bg" data-setbg="/img/bor_3.png">
            <div class="hs-text">
                <div class="container">
                    <h2>A Legjobb <span>Sorozatokat És Filmeket</span> Itt Találod!</h2>
                    <p> Nézz be minden nap, megtalálod a legjobb sorozatokat! ;) </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero section end -->

<!-- Recent game section  -->
<section class="recent-game-section spad set-bg" data-setbg="../img/recent-game-bg.png">

    <form action="/search/">
        <div class="row" style="margin-top: 50px;">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Ide írd be a sorozat/film nevét amit keresel!"
                           aria-label="Ide írd be a sorozat/film nevét amit keresel, az aposztrofokat hagyd ki!"
                           aria-describedby="basic-addon2" name="item">
                    <select name="kategoria">
                        <option value="film">FILM</option>
                        <option value="sorozat">SOROZAT</option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit" value="Submit">Keresés</button>
                    </div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </form>

    <div class="container">
        <div class="section-title" style="margin-bottom: 20px; margin-top: 20px">
            <div class="cata new"><h2>TALÁLATOK</h2></div>

        </div>
        <div class="row maring-bot-10">
            <% let elojel; %>
            <% if (responsePayload.results) { %>
                <% for(var i = 0; i < responsePayload.results.length; i++) { %>
                    <div class="col-lg-3 col-md-3 maring-bot-20">
                        <div class="recent-game-item" style="margin-bottom: 20px">
                            <% if ( responsePayload.results[i].title && responsePayload.results[i].title.includes('. évad') ? elojel = '/sorozatok/sorozat/' : elojel = '/filmek/film/') %>
                            <% if ( responsePayload.results[i].new_url ) { %>
                                <a href=<%= elojel + responsePayload.results[i].new_url %>>
                                    <% if ( responsePayload.results[i].img_url) { %>
                                        <div class="rgi-thumb set-bg"
                                             data-setbg= <%= responsePayload.results[i].img_url %>>
                                        </div>
                                    <% } else { %>
                                        <div class="rgi-thumb set-bg"
                                             data-setbg="https://upload.wikimedia.org/wikipedia/en/d/d3/No-picture.jpg">
                                        </div>
                                    <% } %>
                                </a>
                                <div class="rgi-content">
                                    <% if (responsePayload.results[i].title) { %>
                                        <h5><%= responsePayload.results[i].title %></h5>
                                        <% if (responsePayload.results[i].imdb_score) { %>
                                            <h8>IMDB: <%= responsePayload.results[i].imdb_score %></h8>
                                        <% } %>
                                        <div class="rgi-extra">
                                            <div class="rgi-star"><img src="/img/icons/star.png"></div>
                                            <div class="rgi-heart"><img src="/img/icons/heart.png"></div>
                                        </div>
                                    <% } %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                <% } %>
            <% } %>
        </div>
    </div>
</section>
<!-- Recent game section end -->

<!-- Footer section -->
<footer class="footer-section">
    <div class="container">
        <ul class="footer-menu">
            <li><a href="/oldal/0">Főoldal</a></li>
            <li><a href="/online-filmek/0">Filmek</a></li>
            <li><a href="/online-sorozatok/0">Sorozatok</a></li>
            <li><a href="/">Kapcsolat</a></li>
        </ul>
        <p class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
            online-mozi.com
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
    </div>
</footer>
<!-- Footer section end -->


<!--====== Javascripts & Jquery ======-->
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.marquee.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>